<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=bd-kip.fa.ru\SQLEXPRESS;Initial Catalog=Aeroport;User id = sa; Password=1qaz!QAZ;"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>